<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarised.

**Objectives:**

- List popular languages for Data Science

- List commonly used labraries by Data Scientists

- List of IDE open source tools used for Data Science

- An arithmetic expression example

### Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Scala
5. Java
6. C++
7. Julia

### Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. Matplotlib
4. Seaborn
5. Scikit
6. Keras
7. Spark

| Data Science Tools |
-----
| Jupyter Notebook/Lab |
| Apache |
| RStudio |

### Below are a few examples of evaluating arithmetic expressions in Phyton.

#### This is an arithmetic expression to multiply then add integers.

In [6]:
(3*4)+5

17

### This will convert 200 minutes to hours by dividing by 60.

In [7]:
200/60

3.3333333333333335

## Author
Armen Balayan